@import '../../scss/variables.scss';

.fs-header {
    z-index: 10;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: 3px solid $primary;

    .top {
        background-color: $thirdColor;

        .container {
            display: flex;
            justify-content: space-between;

            .notification-button {
                color: $light;
                border-right: solid 1px $gray-600;
                padding-right: 1rem;
                margin-right: 1rem;
            }

            .cart-shopping-button {
                border: solid 1px $primary;
            }
        }
    }

    .search {
        box-shadow: $box-shadow;
        background-color: $secondary;

        .container {
            position: relative;
            display: flex;
            justify-content: space-between;

            .logo {
                text-decoration: none;

                .logo-text {
                    font-size: 2rem;
                    font-style: italic;
                    border: 1px;

                    .first {
                        color: $primary;
                        position: relative;
                    }

                    .first::before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: -10px;
                        width: 20px;
                        display: block;
                        background-color: $light;
                        height: 2px;
                    }

                    .first::after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: -10px;
                        width: 20px;
                        transform: rotate(-78deg);
                        transform-origin: left;
                        display: block;
                        background-color: $light;
                        height: 2px;
                    }

                    .second {
                        position: relative;

                    }

                    .second::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -15px;
                        width: 20px;
                        display: block;
                        background-color: $primary;
                        height: 2px;
                    }

                    .second::after {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -15px;
                        width: 20px;
                        transform: rotate(-78deg);
                        transform-origin: right;
                        display: block;
                        background-color: $primary;
                        height: 2px;
                    }
                }
            }


            .search-bar {
                width: 65%;
                display: flex;
                align-items: center;
            }
        }
    }

    .navbar {
        background-color: $secondary;
        border-top: solid 1px $gray-600;
        .navbar-list {
            border: none;
            display: flex;
            padding: 0;
            margin: 0;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            .nav-item {
                display: inline-block;
                .nav-link {
                    color: $light;
                    font-size: 1.1rem;
                    transition: all 1s ease-in-out;
                    &.active{
                        color: $yellow;
                    }
                }
            }
        }
    }
}